<!doctype html>
<html>
	<head>
		<title>Guestbook</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>	
	<body>
		{% for greeting in greetings %}
			{% if greeting.author %}
				<b>{{ greeting.author }}</b> wrote:
			{% else %}
				An anonymous person wrote:
			{% endif %}
			<blockquote>{{ greeting.content|escape }}</blockquote>
		{% endfor %}

		<form action="/sign" method="post">
			<div><textarea name="content" rows="3" cols="60"></textarea></div>
			<div><input type="submit" value="Sign guestbook"></div>
		</form>

		<p><a href="{{ url }}">{{ url_linktext }}</a></p>
	</body>
</html>